<% content_for :dashboard do %>
<div style="padding: 20px;">
	<h3>Recent Posts</h3>
	<div id="posts">
		<% if @posts.length > 0 %>
			<%= render @posts %>
		<% else %>
			<p class="no_content">No posts to display!</p>
		<% end %>
	</div>
</div>
<% end %>
<% content_for :sidebar do %>
	<%= render 'sidebar' %>
<% end %>
