<% content_for :dashboard do %>
<div style="padding: 20px;">
	<h3>Recent Posts</h3>
</div>
<% end %>
<% content_for :sidebar do %>
<div style="padding: 20px;">
	<span class="label label-info">Search Filter 1 &times;</span> <span class="label label-info">Filter 2 &times;</span>
	<h3 style="margin: 18px 0;">Your Sites</h3>
	<p>List sites here</p>
</div>

<% end %>
