<% content_for :dashboard do %>
<div class="toolbar">
	<h3>Edit <%= @post.post_type %> Post</h3>
</div>

<div style="padding: 20px">
	<%= render 'form' %>

	<%= link_to 'Show', @post %>
</div>
<% end %>

<% content_for :sidebar do %>
	<%= render 'shared/sidebar' %>
<% end %>