<% content_for :dashboard do %>
<div class="toolbar">
	<h3><%= params[:post_type]%> Posts</h3>
</div>
	<% @posts.each do |post| %>
		<%= render :partial => 'posts/'+post.post_type.downcase, :locals => { :post => post } %>
	<% end %>
	<div style="clear:both;"></div>
<% end %>


<% content_for :sidebar do %>
	<%= render 'shared/sidebar' %>
<% end %>
