<% content_for :dashboard do %>
<div class="toolbar">
	<h3>Post <%= params[:post_type]%></h3>
</div>

<div style="padding: 20px">
	<%= render 'form' %>
</div>
<% end %>


<% content_for :sidebar do %>
	<%= render 'shared/sidebar' %>
<% end %>