// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
@import 'font-awesome';
body {
  background: #004d66;
  height: 100%;
  margin: 0px;
  padding: 0px!important;
  overflow: hidden;
}
.navbar {
  margin-bottom: 0px;
  position: relative!important;
  z-index: 1030;
  .navbar-inner {
    @include border-radius(0px);
  }
}
#banner {
  color: white;
  font-size: 16px;
  padding: 20px 0;
  z-index: 500;
  .btn {
    @include border-radius(15px);
  }
  .nav-pills li a {
      color: #ccc;
      font-size: 13px;
      @include border-radius(3px);
    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }
  .nav-pills li.active a {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.2);
    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }
  #tools a {
    text-decoration: none;
    &:hover {
      background-color: rgba(255,255,255,0.1);
      i { color: #fff; }
    }
    i {
      color: rgba(255,255,255,0.4);
      margin-top: 3px;
      font-size: 20px;
    }
  }
}
#main {
  position: absolute;
  top: 108px;
  bottom: 0px;
  width: 100%;
  z-index: 500;
  .container-fluid {
    height: 100%;
  }
}
.toolbar {
  @include gradient-vertical(#e1e1e1, #bbb);
  padding: 15px 20px;
}
#dashboard {
  height: 100%;
  background: white;
}

.alert {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  @include opacity(1);
  @include border-radius(0);
  margin-bottom: 0px;
  z-index: 10000;
}

.post {
    background: #fff;
    position: relative;
}
.post:hover {
    background: #f1f1f1;
}
.post_grid {
    padding: 5px;
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px 0px 0px 10px;
    text-align: center;
}
.post_grid .thumb {
    display: table-cell;
    height: 128px;
    width: 150px;
    vertical-align: middle;
}
.post_grid .thumb img {
    max-height: 128px;
}
.post_grid .content {
    display: none;
}
.post .tools {
    display: none;
    position: absolute;
    padding: 5px 5px 0px 0px;
    top: 0px;
    right: 0px;
}
.post .tools i {
    font-size: 20px;
    color: #333;
    text-decoration: none;
}
.post .tools i:hover {
    color: #ccc;
}
.post:hover .tools {
    display: block;
}
.post_list {
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #f1f1f1;
}
.post_list .thumb {
    float: left;
}
.post_list .thumb img {
    width: 100px;
    max-height: 128px;
    margin-right: 10px;
}
.post_list .content {
    margin-left: 110px;
    margin-right: 15px;
    max-height: 100px;
    overflow: hidden;
}

tr.active {
  background: #ccc;
  &:hover {
    background: #ccc!important;
  }
}
table a {
  &:hover {
    text-decoration: none;
  }
  i {
    color: #333;
    font-size: 18px;
  }
}

.no_content {
  text-align: center;
  padding: 50px 0px;
  margin: 20px;
  background: #f1f1f1;
  border: 1px dotted #ccc;
  @include border-radius(5px);
  font-size: 16px;
  font-weight: bold;
  color: #888;
}

